* {
    margin: 0;
    font-family: "Catamaran";
    font-size: 18px;
    color: var(--black);
    padding: 0;
  }
  
  :root {
    --white: #ffffff;
    --orange: #ed4f18;
    --grey: #f7f7f7;
    --dark-grey: #d1d1d1;
    --black: #000000;
    --footer:#333333;

  }
  
  body {
    width: 100%;
  }
  
  header {
    width: 75%;
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    padding-top: 50px;
    justify-content: space-between;
    align-items: center;
  }
  
  .nav-links {
    display: flex;
    flex-direction: row;
    column-gap: 70px;
  }
  
  .nav-links a {
    font-family: "Figtree";
    font-weight: 400;
    font-size: 25px;
    text-decoration: none;
    box-sizing: border-box;
    display: inline-block;
    padding-bottom: 11px;
    border-bottom: 3px solid transparent;
  }
  
  .locale,
  .locale a {
    font-family: "Figtree";
    font-weight: 400;
    font-size: 25px;
    text-decoration: none;
    padding-bottom: 15px;
  }
  
  .orange {
    color: var(--orange);
  }
  
  .nav-links a:hover {
    color: var(--orange);
    border-bottom: var(--orange) 3px solid;
  }
  
  .default {
    color: var(--black);
  }
  
  content {
    width: 75%;
    display: block;
    margin: 111px auto 141px;
  }
  
  .contact-title {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    padding-bottom: 37px;
  }
  
  .contact-title h3 {
    color: var(--orange);
    font-size: 25px;
    font-family: "Figtree";
    font-weight: 500;
  }
  
  .contact-title h1 {
    font-size: 48px;
    font-family: "Figtree";
    font-weight: 500;
  }
  
  .input-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .input-side-a {
    width: 54.5%;
  }
  
  .form-description {
    padding-bottom: 42px;
    font-family: "Catamaran";
    font-size: 18px;
    font-weight: 400;
  }
  
  .input-side-b {
    width: 29.375%;
    display: flex;
    flex-direction: column;
    row-gap: 45px;
  }
  
  .form-body {
    display: flex;
    flex-direction: column;
  }
  
  .form-body input,
  .form-body-a select {
    font-family: "Figtree";
    font-size: 25px;
    font-weight: 500;
    color: var(--black);
    padding-bottom: 20px;
    border: none;
    border-bottom: 3px solid var(--dark-grey);
  }
  
  .form-body input:focus,
  .form-body-a select:focus {
    font-family: "Figtree";
    font-size: 25px;
    font-weight: 500;
    color: var(--black);
    padding-bottom: 20px;
    outline: none;
    border-bottom: 3px solid var(--black);
  }
  
  .form-body p,
  .form-body input::placeholder {
    font-family: "Figtree";
    font-size: 25px;
    font-weight: 500;
    color: var(--black);
  }
  
  #message {
    height: 150px;
  }
  
  .form-body button {
    display: block;
    position: relative;
    margin: 50px 0 0 auto;
    background-color: var(--orange);
    font-family: "Figtree";
    font-size: 16px;
    font-weight: 700;
    color: var(--white);
    border-radius: 20px;
    border: none;
    padding: 18px 25px;
  }
  
  .form-splitter {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 20px;
  }
  
  .form-body-a,
  .form-body-b {
    width: 47%;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
  }
  
  .address-box {
    padding: 30px;
    background-color: var(--grey);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
  }
  
  .input-side-b h3 {
    font-family: "Figtree";
    font-size: 25px;
    font-weight: 600;
    color: var(--orange);
  }
  
  .follow-us {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    padding: 30px;
  }
  
  .social-media-icons {
    display: flex;
    flex-direction: row;
    column-gap: 30px;
  }


  /* footer */
  footer {
    width: 100%;
    background-color: var(--footer);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    
  }

  footer p {
    color: var(--white);
  }

  .footer-navigation {
    width: 75%;
    margin: 0 auto;
    padding: 100px 0;
    display: flex;
    flex-direction: column;
  }